@model IEnumerable<BusinessObjects.DTO.CourseDto>

@{
    ViewData["Title"] = "ListCourse";
}

<h1>ListCourse</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                    <a asp-action="ListMaterialOfCourse" asp-controller="Student" asp-route-id="@item.CourseId">Materials</a> |
                    <a asp-action="ListAssignmentsByCourse" asp-controller="Student" asp-route-id="@item.CourseId">View Assignments</a>
            </td>
        </tr>
}
    </tbody>
</table>
