@model IEnumerable<BusinessObjects.DTO.AssigmentDto>
@{
    ViewData["Title"] = "ListAssignmentByCourse";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1>ListAssignmentByCourse</h1>


<p>
    <a asp-action="UploadAssignment">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    <a asp-action="ListSubmitAssignmentByAssId" asp-controller="Teacher" asp-route-assId="@item.AssignmentId">Show all student submit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
